<article>
	<h1>About</h1>
	<p>
	I am a PhD student in the <a href="http://csl.ajou.ac.kr">Computer System Laboratory(CSL)</a> at the Ajou University, led by <a href="http://jeongseob.github.io">Prof. Jeongseob Ahn</a>.
	My research interests include Computer Architecture, Operating Systems, and Memory Management.
	</p>

	<h1>Research Interests</h1>
	<ul>
		<li>Computer Architecutre</li>
		<li>Operating Systems</li>
		<li>Memory Management</li>
	</ul>

	<h1>Education</h1>

	<ul>
		<li>Ph.D. in Department of Artificial Intelligence at Ajou University, Mar 2019 ~ Present</li>
		<li>B.S. in Chemistry and B.E. in Electrical and Computer Engineering (double major) at Ajou University, Feb 2019</li>
	</ul>
	<h1 id="publications">Publications</h1>
	<div id="journals">
		<ul>
			<li class="paper">
				<div>
					<div>[ATC '21] <b>Exploring the Design Space of Page Management for Multi-Tiered Memory Systems</b>
						[<a href="https://www.usenix.org/conference/atc21/presentation/kim-jonghyeon">Paper</a> | <a href="https://github.com/csl-ajou/AutoTiering">Code</a>]
					</div>
					<div class="conference">
						<i>Proceedings of the 2021 USENIX Annual Technical Conference (ATC), Virtual Event, July 2021</i>
					</div>
					<div class="authors"><u>Jonghyeon Kim</u>, Wonkyo Choe, Jeongseob Ahn</div>
				</div>
			</li>
			<li class="paper">
				<div>
					<div>
						[CAL '20] <b>A Study of Memory Placement on Hardware-Assisted Tiered Memory Systems</b> 
						[<a href="https://ieeexplore.ieee.org/document/9165024">Paper</a> | <a href="https://youtu.be/-CObgDzgHKc">Lightning Talk</a>]
					</div>
					<div class="journal">
						<i>IEEE Computer Architecture Letters (CAL), 19(2), July-December 2020</i>
					</div>
					<div class="authors">Wonkyo Choe, <u>Jonghyeon Kim</u>, Jeongseob Ahn</div>
				</div>
			</li>
		</ul>
	</div>
	<h1 id="contact">Contact</h1>
	<ul>
		<li>Email: <a href="mailto:tome01@ajou.ac.kr">tome01@ajou.ac.kr</a></li>
	</ul>
</article>
