<article>
	<h1>About Me</h1>
	<p>
	I'm PhD student in <a href="http://csl.ajou.ac.kr">Computer System Laboratory(CSL)</a> of Ajou University under the advisory of <a href="http://jeongseob.github.io">Prof. Jeongseob Ahn</a>.
	My current reserch interests are <i>Operating System(Memory subsystem), Heterogeneous memory system(Non-volatile memory and CXL-based memory) and Computer Architecture</i>.
	</p>

	<h1>Research Interests</h1>
	<ul>
		<ul>Computer Architecture
			<li>Non-Volatile Memory</li>
			<li>Heterogeneous Memory Systems</li>
		</ul>
		<ul>Operating Systems
			<li>Memory Management</li>
		</ul>
	</ul>

	<h1>Education</h1>
	<ul>
		<li>PhD in Department of Artificial Intelligence at Ajou University, 2019 ~ Present</li>
		<li>BE in Department of Electrical and Computer Engineering at Ajou University, 2019</li>
		<li>BS in Department of Chemistry at Ajou University, 2019</li>
	</ul>

	<h1 id="publications">Publications</h1>
	<div id="paper">
		<ul>
			<li class="conference">
				<div>
					<div>[ATC '21] <b>Exploring the Design Space of Page Management for Multi-Tiered Memory Systems</b>
						[<a href="https://www.usenix.org/conference/atc21/presentation/kim-jonghyeon">Paper</a> | <a href="https://github.com/csl-ajou/AutoTiering">Code</a>]
					</div>
					<div class="host">
						<i>Proceedings of the 2021 USENIX Annual Technical Conference (ATC), Virtual Event, July 2021</i>
					</div>
					<div class="authors"><u>Jonghyeon Kim</u>, Wonkyo Choe, Jeongseob Ahn</div>
				</div>
			</li>
			<li class="journal">
				<div>
					<div>
						[CAL '20] <b>A Study of Memory Placement on Hardware-Assisted Tiered Memory Systems</b> 
						[<a href="https://ieeexplore.ieee.org/document/9165024">Paper</a>]
					</div>
					<div class="host">
						<i>IEEE Computer Architecture Letters (CAL), 19(2), July-December 2020</i>
					</div>
					<div class="authors">Wonkyo Choe, <u>Jonghyeon Kim</u>, Jeongseob Ahn</div>
				</div>
			</li>
		</ul>
	</div>

	<h1 id="teaching">Teaching Assistant</h1>
	<ul>
		<li>
			<div>SCE212: Computer Organization and Archtecture</div>
			<div class="class"> - <i>Spring 2019, Fall 2019, Spring 2020, Fall 2020, Spring 2021</i></div>
		</li>
		<li>
			<div>SCE213: Operating Systems</div>
			<div class="class"> - <i>Spring 2022</i></div>
		</li>
		<li>
			<ul>SCE394: IT Intensive Programming
				<li>Topics: Parallel Computing & Linux Kernel Programming </li>
			</ul>
			<div class="class"> - <i>Fall 2021</i></div>
		</li>
	</ul>

	<h1 id="contact">Contact</h1>
	<ul>
		<li>Email: <a href="mailto:tome01@ajou.ac.kr">tome01@ajou.ac.kr</a></li>
	</ul>
</article>
