<article>
	<h1>About</h1>
	<p>
	I am a PhD candidate in Ajou University, a member of <a href="https://sites.google.com/korea.ac.kr/csl">Computer Systems Laboratory (CSL)</a> of Korea University under the advisory of <a href="http://jeongseob.github.io">Prof. Jeongseob Ahn</a>.
	</p>

	<h1>Research Interests</h1>
	<ul>
		<li>Computer Architectures
			<ul>
				<li>Tiered memory systems</li>
				<li>Memory Disaggregation</li>
				<li>Address translation</li>
			</ul>
		</li>
		<li>Operating Systems
			<ul>
				<li>Memory traffic management</li>
				<li>Large page management</li>
			</ul>
		</li>
		<li>Serverless Computing
			<ul>
				<li>Cloud resource management</li>
				<li>Virtualization</li>
			</ul>
		</li>
	</ul>

	<h1>Education</h1>
	<ul>
		<li>PhD in Department of Computer Engineering at Ajou University, 2019 ~ Present</li>
		<li>BS in Department of Electrical and Computer Engineering at Ajou University, 2019</li>
		<li>BS in Department of Chemistry at Ajou University, 2019</li>
	</ul>

	<h1 id="publications">Publications</h1>
	<div id="paper">
		<ul>
			<li class="conference">
				<div>
					<div>[ATC '21] <b>Exploring the Design Space of Page Management for Multi-Tiered Memory Systems</b>
						[<a href="https://www.usenix.org/conference/atc21/presentation/kim-jonghyeon">Paper</a> | <a href="https://github.com/csl-ajou/AutoTiering">Code</a> | <a href="https://www.youtube.com/watch?v=69uIM8Nl9XI">Video</a>]
					</div>
					<div class="host">
						<i>Proceedings of the 2021 USENIX Annual Technical Conference (ATC), Virtual Event, July 2021</i>
					</div>
					<div class="authors"><u>Jonghyeon Kim</u>, Wonkyo Choe, Jeongseob Ahn</div>
				</div>
			</li>
			<li class="journal">
				<div>
					<div>
						[CAL '20] <b>A Study of Memory Placement on Hardware-Assisted Tiered Memory Systems</b> 
						[<a href="https://ieeexplore.ieee.org/document/9165024">Paper</a>]
					</div>
					<div class="host">
						<i>IEEE Computer Architecture Letters (CAL), 19(2), July-December 2020</i>
					</div>
					<div class="authors">Wonkyo Choe, <u>Jonghyeon Kim</u>, Jeongseob Ahn</div>
				</div>
			</li>
		</ul>
	</div>

	<h1>Invited Talks</h1>
	<ul>
		<li>
			<div><b>Exploring the Design Space of Page Management for Multi-Tiered Memory Systems</b>, Korea Software Congress, Pyeongchang, Korea, 2021</div>
		</li>
	</ul>

	<h1 id="teaching">Teaching Assistant</h1>
	<ul>
		<li>
			<div>SCE212: Computer Organization and Architecture: <i>Spring 2019, Fall 2019, Spring 2020, Fall 2020, Spring 2021</i></div>
		</li>
		<li>
			<div>SCE213: Operating Systems: <i>Spring 2022</i></div>
		</li>
		<li>
			<div>SCE394: IT Intensive Programming: <i>Fall 2021</i></div>
				<ul>
					<li>Topics: Parallel Computing and Linux Kernel Programming </li>
				</ul>
		</li>
	</ul>

	<h1 id="contact">Contact</h1>
	<ul>
		<li><a href="mailto:tome01@ajou.ac.kr">tome01@ajou.ac.kr</a></li>
	</ul>
</article>
